.main{
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
}
.meniu {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    flex-direction: column;
    height: 100%;
}
.meniu img {
    width: 150px;
    margin-bottom: 50px;
}
.meniu h1{
    margin-bottom: 50px;
}
.meniu a{
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
}